block variables

header.header
	.header__menu
		a.header__menu_button(href='#')
			span.header__menu_button_top
			span.header__menu_button_middle
			span.header__menu_button_bottom
	a.header__logo(href='#')
	.header__language
		a.header__language_button.active(href='#') Русский
		a.header__language_button(href='#') English


