section.section
	.section_top
		.section_top__bg
		h1.main_title АКРОТИРИ
		.main_text ГОРОД, <br> ПРОСПАВШИЙ <br> ТРИ С ПОЛОВИНОЙ <br> ТЫСЯЧИ ЛЕТ
		.section_top__stones
		.section_top__white_box
			.section_top__white_box__img
			.section_top__white_box__wrap
				.section_top__white_box__wrap__circle
				.section_top__white_box__wrap__text Позиция компании<br>в области охраны<br>окружающей среды


