section.section.section_5
	.section_5__block_left
		h2.title_2.section_5__title_2 АТЛАНТИДА<br>И ДРУГИЕ ЛЕГЕНДЫ
		.text.section_5__text Группа островов, окружающих Санторини сегодня, когда-то была единым крупным островом, на котором и построили город минойцы. В результате сильнейшего извержения вулкан Санторин, возвышавшийся над островом на 1500 метров, ушел под воду на глубину 300–400 м. Образовавшееся углубление заполнила морская вода. Это привело к подводному взрыву и последовавшему за ним сильнейшему цунами. Древний город оказался под слоем пепла и вулканической породы, а по всему Эгейскому морю прошла разрушительная волна высотой с современный небоскреб. Археологи считают, что извержение вулкана, которое привело к закату минойской культуры, случилось в 1628 году до нашей эры.
	.section_5__block_right
		h2.title_2.section_5__title_2 АКРОТИРИ<br>VS ПОМПЕИ
		.text.section_5__text Раскопки на Санторини можно сравнить с работами в Помпеях, но с рядом оговорок. Оба города были похоронены под пеплом и вулканической породой во время извержения вулканов, поэтому каждое поселение отлично сохранилось. Но так как римская цивилизация смогла пережить извержение Везувия, историю этой катастрофы можно воссоздать. К сожалению, никаких сведений об извержении вулкана Санторин не осталось. Во-вторых, судя по найденным объектам, минойцы были более развиты, чем римляне, поэтому раскопки в Акротири могут дать сенсационные результаты.


