section.section.section_4
	.block_top
		.block_left.section_4__block_left
		h2.title_2.section_4__title_2 ДВОЙНОЕ ДНО<br>САНТОРИНИ
		.block_right.section_4__block_right
	.block_bottom
		.block_text
			.text.section_4__text Группа островов, окружающих Санторини сегодня, когда-то была единым крупным островом, на котором и построили город минойцы. В результате сильнейшего извержения вулкан Санторин, возвышавшийся над островом на 1500 метров, ушел под воду на глубину 300–400 м. Образовавшееся углубление заполнила морская вода. Это привело к подводному взрыву и последовавшему за ним сильнейшему цунами. Древний город оказался под слоем пепла и вулканической породы, а по всему Эгейскому морю прошла разрушительная волна высотой с современный небоскреб. Археологи считают, что извержение вулкана, которое привело к закату минойской культуры, случилось в 1628 году до нашей эры.


