section.section.section_2
	.block_left.section_2__block_left
	.block_text
		.text Санторини — остров в Эгейском море, знаменитый на весь мир греческий курорт с белоснежными домами, теснящимися на скалах. Сегодня у Санторини швартуются круизные лайнеры, а на многочисленных террасах туристы любуются закатами. И практически ничего не говорит о том, что однажды здесь разыгралась одна их главных природных катастроф в истории человечества. 3 600 лет назад извержение вулкана и цунами погубили процветающую минойскую культуру, предвестника всей европейской цивилизации. В 2015 году «Лаборатория Касперского» стала ключевым спонсором работ в Акротири — древнем поселении, обнаруженном археологами еще в середине XX века.


