section.section.section_6 
	.section_6__block_top
		.section_6__block_left
		h2.title_2.section_6__title_2 НОВАЯ ЖИЗНЬ
		.section_6__block_right
	.section_6__block_middle
		.section_6__text_left
			.text.section_6__text В 2015 году после долгого перерыва, благодаря совместной работе  "Лаборатории Касперского" и Афинского археологического общества, раскопки на Акротири удалось возобновить.
		.section_6__text_right
			.text.section_6__text Сегодня сотрудничество с учеными идет сразу в трех направлениях: консервация и укрепление найденных сооружений (древние конструкции разрушаются из-за времени, климата и сейсмической активности на острове), восстановление фресок (12,5 м2 фрески, украшавшей лестницу самого большого из найденных зданий, уже частично реставрированы) и продолжение самих раскопок, в результате которых археологи надеются найти алтарь. По мнению ученых, есть вероятность, что в ближайшее время мы узнаем новые подробности о жизни минойцев на Санторини и катастрофе, которая привела к закату их развитой цивилизации
	.section_6__block_bottom
		img.temple(alt="temple" title="temple" src="assets/img/temple.png")
		.text.section_6__text_bottom При поддержке "Лаборатории Касперского" археологи создали 3D-модель жилого дома древних жителей Санторини

