section.section.section_padding.section_3
	.section_3__block_top
		.section_3__field_left
		h2.title_2.section_3__title_2 ДРЕВНЕЕ<br>ДРЕВНЕЙ ГРЕЦИИ
		.section_3__field_right
	.section_3__block_bottom
		.block_left.section_3__block_left
		.section_3__block_text
			.text.section_3__text Об археологической ценности Санторини узнали в 1867 году, когда местные жители рассказали ученым о найденных на острове многочисленных древних артефактах. Уже в XX веке, во время раскопок у деревни Акротири, которыми руководил греческий археолог Спиридон Маринатос, исследователи обнаружили город, сохранившийся в отличном состоянии: вулканический пепел «законсервировал» двух- и трехэтажные здания, во многих из которых были системы канализации и водопровод. Кроме того, внутри построек нашли фрески, глиняную посуду, мебель и многочисленные предметы быта. Всё говорило о невероятном уровне развития минойской культуры, зародившейся на островах Эгейского мора за тысячу лет до появления древнеримских акведуков.
		.block_right.section_3__block_right

