.section_4 {
  background-image: url("../../assets/img/images_1800/vulkanausbruch.jpg");
  background-size: cover;
  background-position: 0 50%;	
  padding-top:2.2rem;
	flex-direction: column;

}

.section_4__block_right {
	    flex: 1 1 auto; 
}

.section_4__block_left {
    width:3.1rem;
}

.section_4__title_2 {
	flex: 0.39 1 auto;
  padding: 1.5rem 1rem 2.4rem;	 
}

.section_4__text {
	width: 50%;

	@include laptop {
		width: 100%;
	}		
}